modules = ["nodejs-20"]

[workflows]
runButton = "React Dev Server"

[[workflows.workflow]]
name = "Run"
author = 39888440

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd kickoff && npm start"

[[workflows.workflow]]
name = "React Dev Server"
author = 39888440

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd kickoff && npm start"

[[ports]]
localPort = 3000
externalPort = 6000

[[ports]]
localPort = 3001
externalPort = 80

[deployment]
run = ["sh", "-c", "cd kickoff && PORT=3000 HOST=0.0.0.0 npm start"]

[nix]
channel = "stable-24_05"
